<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

    <bean id="overridingPrototypeNoDependencyBean" scope="prototype"
          class="springclean.core.generate.data.NoDependencyBean"/>

    <bean id="noDependencyBean" class="springclean.core.generate.data.NoDependencyBean"/>

    <bean id="overridingNoDependencyBean" class="springclean.core.generate.data.NoDependencyBean"/>

    <bean id="doubleAbstractBean" class="springclean.core.generate.data.DualInjectedBean" abstract="true">
        <constructor-arg index="0" ref="noDependencyBean"/>
    </bean>

    <bean id="abstractBean" parent="doubleAbstractBean" abstract="true">
        <constructor-arg index="1" ref="noDependencyBean"/>
    </bean>

    <bean id="aDualInjectedBean" parent="abstractBean">
        <property name="anonymousBean">
            <bean class="springclean.core.generate.data.AnonymousBean"/>
        </property>
    </bean>

    <bean id="anotherDualInjectedBean" parent="abstractBean">
        <constructor-arg index="1">
            <bean class="springclean.core.generate.data.NoDependencyBean"/>
        </constructor-arg>
    </bean>

    <bean id="yetAnotherDualInjectedBean" parent="abstractBean">
        <constructor-arg index="1" ref="overridingPrototypeNoDependencyBean"/>
    </bean>

    <bean id="abstractDestroyableBean" class="springclean.core.generate.data.DestroyableBean"/>

    <bean id="destroyableBean" parent="abstractDestroyableBean" destroy-method="destroyMethod"/>
</beans>