<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="noDependencyBean" class="springclean.core.generate.data.NoDependencyBean"/>

    <bean id="anotherNoDependencyBean" class="springclean.core.generate.data.NoDependencyBean"/>

    <bean id="aConstructorInjectedBean" class="springclean.core.generate.data.ConstructorInjectedBean">
        <constructor-arg ref="anotherNoDependencyBean"/>
        <constructor-arg>
            <ref local="noDependencyBean"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="springclean.core.generate.data.AnonymousBean"/>
        </constructor-arg>
        <constructor-arg type="int">
            <value>1</value>
        </constructor-arg>
    </bean>
</beans>