<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="aNoDependencyBean" class="springclean.core.generate.data.NoDependencyBean"/>

    <bean id="aSetterInjectedBean" class="springclean.core.generate.data.SetterInjectedBean">
        <property name="aSet">
            <set>
                <bean class="springclean.core.generate.data.NoDependencyBean"/>
                <ref bean="aNoDependencyBean"/>
                <value>aString</value>
            </set>
        </property>
    </bean>
</beans>