<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="noDependencyBean" class="springclean.generate.data.NoDependencyBean"/>

    <bean id="aSetterInjectedBean" class="springclean.generate.data.SetterInjectedBean">
        <property name="noDependencyBean">
            <ref bean="noDependencyBean"/>
        </property>
        <property name="anonymousBean">
            <bean class="springclean.generate.data.AnonymousBean"/>
        </property>
        <property name="expandedValue">
            <value>1</value>
        </property>
    </bean>
</beans>