<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="noDependencyBean" class="springclean.generate.data.NoDependencyBean"/>

    <bean id="aStaticFactoryMethodBean" class="springclean.generate.data.StaticFactoryMethodBean" factory-method="staticFactoryMethod">
        <constructor-arg ref="noDependencyBean"/>
    </bean>
</beans>