<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="prototype" class="springclean.core.generate.data.NoDependencyBean" scope="prototype"/>
    <bean id="anotherPrototype" class="springclean.core.generate.data.AnonymousBean" scope="prototype"/>

    <bean id="aConstructorInjectedBean" class="springclean.core.generate.data.ConstructorInjectedBean">
        <constructor-arg ref="prototype"/>
        <constructor-arg>
            <ref local="prototype"/>
        </constructor-arg>
        <constructor-arg>
            <ref bean="anotherPrototype"/>
        </constructor-arg>
        <constructor-arg type="int" value="1"/>
    </bean>
</beans>