<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="anInitializingBean" class="springclean.core.generate.data.AnInitializingBean">
        <constructor-arg>
            <bean class="springclean.core.generate.data.NoDependencyBean"/>
        </constructor-arg>
        <property name="anotherNoDependencyBean">
            <bean class="springclean.core.generate.data.NoDependencyBean"/>
        </property>
    </bean>
</beans>